* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
    outline: none;
    user-select: none;
    resize: none;
}

html,body{
    background-color: white;
}

.clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}